.title {
  position: relative;
  @include Poppins("semiBold");
  font-size: 20px;
  margin-bottom: 30px;
  & span {
    color: $colorMain;
  }
  &::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: -12px;
    bottom: -3px;
    background: linear-gradient(
      135deg,
      rgba(120, 204, 109, 0.4) 0%,
      rgba(120, 204, 109, 0.01) 100%
    );
  }
}

.horisontal-line {
  content: "";
  margin-left: -30px;
  width: 100%;
  height: 1px;
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.text-with-dots {
  &__title {
    color: $colorWhiteText;
    @include Poppins("medium");
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
  }
  &__desc {
    font-size: 16px;
    line-height: 25px;
    color: $colorText;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
  }
}

.services {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    & .services__item {
      &:nth-child(odd)::before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: radial-gradient(
          ellipse at left,
          rgba(197, 202, 213, 0.15) 0%,
          rgba(255, 255, 255, 0) 70%
        );
      }
    }
  }
  &__item {
    padding: 30px;
    position: relative;
    &_icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: linear-gradient(
        135deg,
        rgba(120, 204, 109, 0.4) 0%,
        rgba(120, 204, 109, 0.01) 100%
      );
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      & .icon {
        color: $colorMain;
        font-size: 28px;
      }
      &:after {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background: radial-gradient(
          ellipse at left,
          rgba(197, 202, 213, 0.15) 0%,
          rgba(255, 255, 255, 0) 70%
        );
      }
    }
    &_title {
      color: $colorWhiteText;
      font-size: 17px;
      margin-bottom: 10px;
      @include Poppins("medium");
    }
    &_desc {
      color: $colorText;
      font-size: 16px;
      line-height: 28px;
    }
  }
}

.quote {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__desc {
    @include Poppins("light italic");
    font-size: 16px;
    color: $colorText;
    text-align: center;
    padding: 0 30px 30px 30px;
  }
  &__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
    background-color: $colorMain;
  }
  &__name {
    @include Poppins("medium");
    font-size: 17px;
    color: $colorWhiteText;
  }
  &__position {
    font-size: 14px;
    color: $colorText;
  }
}

.titleWithIcon {
  position: relative;
  @include Poppins("medium");
  font-size: 17px;
  text-transform: uppercase;
  padding: 20px 0;
  display: flex;
  align-items: center;
  .icon {
    font-size: 28px;
    margin-right: 10px;
    color: $colorMain;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    content: "";
    background: radial-gradient(
      ellipse at left,
      rgba(197, 202, 213, 0.15) 0%,
      rgba(255, 255, 255, 0) 70%
    );
  }
}

.experience {
  &__item {
    position: relative;
    padding: 30px 0;
    &:not(:last-child):after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background: radial-gradient(
        ellipse at left,
        rgba(197, 202, 213, 0.15) 0%,
        rgba(255, 255, 255, 0) 70%
      );
    }
    &_date {
      color: #666;
      border-radius: 4px;
      margin: 0 0 11px 0;
      padding: 0 5px;
      font-size: 13px;
      line-height: 18px;
      border: 1px solid #666;
      width: max-content;
      &-active {
        border-color: $colorMain;
        color: $colorMain;
      }
    }
    &_title {
      color: $colorWhiteText;
      font-size: 17px;
      font-weight: 500;
      @include Poppins("medium");
    }
    &_company {
      margin: 0 0 11px 0;
      font-size: 14px;
      color: #999999;
    }
    &_desc {
      color: $colorText;
    }
  }
}

.skill {
  &-dots {
    &__title {
      color: $colorWhiteText;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 10px;
    }
    &__list {
      display: flex;
      justify-content: space-between;
    }
    &__item {
      min-width: 14px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $colorSkillDissable;
      &.active {
        background-color: $colorMain;
      }
    }
  }
  &-circle {
    &__title {
      margin-top: 15px;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
    }
  }
  &-list {
    margin: -5px 0;
    &__item {
      padding: 5px 0;
      &::before {
        content: '\e907';
        margin-right: 15px;
        color: $colorMain;
        font-size: 14px;
        font-family: 'icomoon' !important;
      }
    }
  }
}
