@import "./icomoon/style.css";
@import "./help/font.scss";

$colorAppBg: linear-gradient(to bottom right, #17171b 0%, #28282f 100%);
$colorAppText: #d0d0d2;
$colorMain: #78cc6d;
$colorMainBg: #31313a;
$colorWhiteText: rgba(255, 255, 255, 0.85);
$colorText: rgba(255, 255, 255, 0.55);
$colorScrolLine: #65656c;
$colorLineVertical: radial-gradient(
  ellipse at top,
  rgba(197, 202, 213, 0.15) 0%,
  rgba(255, 255, 255, 0) 70%
);
$colorLineHorizontal: radial-gradient(
  ellipse at left,
  rgba(197, 202, 213, 0.15) 0%,
  rgba(255, 255, 255, 0) 70%
);

body,
html,
#root,
.App {
  height: 100%;
  display: flex;
  width: 100%;
}
div {
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  color: $colorAppText;
  @include Poppins();
}
.App {
  background: $colorAppBg;
  justify-content: center;
  align-items: center;
}
.main {
  max-width: auto;
  display: flex;
  margin: 8vh 6vw;
  height: 84vh;
  max-width: 1268px;
  max-height: 674px;
}
@media (max-height: 700px) {
  .main {
    margin-top: 6vh;
    margin-bottom: 6vh;
    height: 88vh;
  }
}

@import "ui/ui.scss";
@import "components/nav.scss";
@import "components/right-block.scss";
@import "block/CVBlock.scss";
@import "page/about.scss";
@import "page/resume.scss";
