.about {
  &__bio {
    &_text {
      padding-top: 30px;
    }
    &_info {
      padding-top: 15px;
    }
  }
  &__services {
    &_list {
      margin: 0 -30px;
    }
  }
  &__quote {
    &_item {
      margin: 0 -30px;
    }
  }
}