.resume {
  &__experience {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
    &_block {
      width: 50%;
      padding: 0 30px;
      position: relative;
      &:nth-child(odd) {
        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 1px;
          background: $colorLineVertical;
        }
      }
    }
  }
  &__skill {
    &_row {
      display: flex;
      justify-content: space-between;
      margin: 0 -30px;
    }
    &_block {
      width: 50%;
      position: relative;
      padding: 0 30px 30px;
      &:nth-child(odd)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background: $colorLineVertical;
      }
      &_item {
        padding: 15px 0 0;
        position: relative;
        &-dots {
          .dots {
            padding: 15px 0;
            position: relative;
            &:after {
              content: "";
              position: absolute;
              right: 0;
              left: 0;
              bottom: 0;
              height: 1px;
              background: $colorLineHorizontal;
            }
          }
        }
        &-circle {
          display: flex;
          flex-wrap: wrap;
          .circle {
            width: 50%;
            padding: 0 30px 30px;
          }
        }
      }
    }
  }
}
